.nft-shop__button {
  grid-area: button;
  width: 356px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 5px 5px 10px #00000040;
  background-image: linear-gradient(90deg, #0278fe 0%, #003a7b 100%);
}

.nft-shop__button:hover {
  background: linear-gradient(
    90deg,
    rgba(2, 120, 254, 0.25) 0%,
    rgba(0, 58, 123, 0.25) 99.98%
  );
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .nft-shop__button {
    width: 355px;
  }
}
@media screen and (max-width: 680px) {
  .button-text {
    font-size: 14px;
  }
  .nft-shop__button {
    width: 288px;
    margin: auto;
  }
}
