.header {
  text-align: center;
  padding-top: 34px;
}

.header__logo {
  padding-bottom: 90px;
}

.header__title {
  max-width: 720px;
  font-size: 80px;
  font-weight: 900;
  line-height: 1;
  padding-bottom: 32px;
  margin: 0 auto;
}

.header__description {
  max-width: 720px;
  font-weight: 400;
  font-size: 32px;
  line-height: 1.5;
  padding-bottom: 64px;
  margin: 0 auto;
}

.header__image {
  width: 100%;
  max-width: 984px;
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .header {
    padding-top: 30px;
  }
  .header__title {
    max-width: 530px;
    font-size: 75px;
    line-height: 1;
    padding-bottom: 25px;
    margin: 0 auto;
  }

  .header__description {
    max-width: 720px;
    font-size: 30px;
    line-height: 1;
    padding-bottom: 30px;
    margin: 0 auto;
  }

  .header__image {
    max-width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .header {
    padding-top: 20px;
  }
  .header__logo {
    max-width: 188px;
    padding-bottom: 50px;
  }
  .header__title {
    max-width: 228px;
    font-size: 40px;
    line-height: 1;
    padding-bottom: 16px;
    margin: 0 auto;
  }

  .header__description {
    max-width: 288px;
    font-size: 16px;
    line-height: 1;
    padding-bottom: 40px;
    margin: 0 auto;
  }

  .header__image {
    max-width: 100%;
  }
}
