.nft-shop {
  max-width: 984px;
  padding-left: 148px;
  padding-right: 148px;
}

.nft-shop__container {
  max-width: 984px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding-top: 92px;
}

.nft-shop__left {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.nft-shop__title {
  font-size: 72px;
  font-weight: 900;
  line-height: 1;
  margin: unset;
}

.nft-shop__image {
}

.nft-shop__right {
  display: flex;
  flex-direction: column;
  gap: 48px;
  justify-content: center;
}

.nft-shop__artist-container {
  max-width: 456px;
  margin: 0;
}

.nft-shop__artist-title {
  margin: unset;
  padding-bottom: 8px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 1.2;
  opacity: 0.6;
}

.nft-shop__artist-name {
  margin: unset;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
}

.nft-shop__description-container {
  max-width: 484px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-top: 48px;
}
.nft-shop__description {
  margin: unset;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.63;
}

.nft-shop__button {
  width: 356.08px;
  height: 48px;
}
