.nft-shop {
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding-left: 148px;
  padding-right: 148px;
  padding-bottom: 90px;
  padding-top: 92px;
}

.nft-shop__container {
  max-width: 984px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto 1fr;
  grid-template-areas:
    "title artist"
    "image text"
    "button text";
  gap: 40px;
  align-items: start;
}

.nft-shop__title {
  font-size: 72px;
  font-weight: 900;
  line-height: 1;
  margin: 0;
  grid-area: title;
}

.nft-shop__image {
  width: 100%;
  box-shadow: 10px 10px 50px #00000080;
  transition: filter 0.4s ease;
  grid-area: image;
}

.nft-shop__image:hover {
  filter: brightness(0.5);
  cursor: pointer;
}

.nft-shop__artist-container {
  max-width: 456px;
  grid-area: artist;
  align-self: end;
}

.nft-shop__artist-title {
  margin: 0;
  padding-bottom: 8px;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1.63px;
  opacity: 0.6;
}

.nft-shop__artist-name {
  margin: 0;
  font-size: 18px;
  line-height: 1.2;
}

.nft-shop__description-container {
  max-width: 484px;
  grid-area: text;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.nft-shop__description {
  margin: 0;
  font-size: 18px;
  line-height: 1.63;
}

@media screen and (max-width: 768px) {
  .nft-shop {
    padding-left: 24px;
    padding-right: 24px;
    gap: 72px;
  }

  .nft-shop__container {
    max-width: 720px;
    gap: 28px;
  }

  .nft-shop__title {
    font-size: 42px;
    font-weight: 900;
    line-height: 1;
  }

  .nft-shop__artist-title {
    font-size: 12px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 1.2px;
    opacity: 0.6;
  }

  .nft-shop__description {
    font-size: 16px;
    line-height: 1.63;
  }
}
@media screen and (max-width: 680px) {
  .nft-shop__container {
    max-width: 720px;
    gap: 28px;
    grid-template-areas:
      "title"
      "artist"
      "image"
      "text"
      "button";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .nft-shop {
    padding-top: 62px;
    gap: 50px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .nft-shop__title {
    font-size: 32px;
    font-weight: 900;
    padding: 0 16px;
  }
  .nft-shop__artist-container,
  .nft-shop__description-container {
    max-width: 288px;
    padding: 0 16px;
  }
}
