.nft-shop {
  padding-left: 148px;
  padding-right: 148px;
  padding-bottom: 90px;
}

.nft-shop__container {
  max-width: 984px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding-top: 92px;
  padding-bottom: 48px;
  justify-content: stretch;
  align-items: end;
}

.nft-shop__left {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.nft-shop__title {
  font-size: 72px;
  font-weight: 900;
  line-height: 1;
  margin: unset;
}

.nft-shop__image {
  width: 100%;
  box-shadow: 10px 10px 50px #00000080;
}

.nft-shop__right {
  max-width: 484px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-self: flex-end;
}

.nft-shop__artist-container {
  max-width: 456px;
  margin: 0;
}

.nft-shop__artist-title {
  margin: unset;
  padding-bottom: 8px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 1.2px;
  opacity: 0.6;
}

.nft-shop__artist-name {
  margin: unset;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
}

.nft-shop__description-container {
  width: 484px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.nft-shop__description {
  margin: unset;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.63;
}

.nft-shop__button {
  width: 356.08px;
  height: 48px;
  border: none;
  border-radius: 5px;
  box-shadow: 5px 5px 10px 0px #00000040;
  background-image: linear-gradient(90deg, #0278fe 0%, #003a7b 99.98%);
}

.nft-shop__button:hover {
  background: linear-gradient(90deg, #0278fe 40%, #003a7b 99.98%);
}

.button-text {
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
  color: #ffffff;
  margin: auto;
}
