.photo-grid {
  max-width: 1184px;
  padding: 0 48px;
  margin: 0 auto;
}

.photo-grid__gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 16px;
}

.photo-grid__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .photo-grid {
    max-width: 720px;
    padding: 0 24px;
  }
  .photo-grid__gallery {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}

@media screen and (max-width: 680px) {
  .photo-grid {
    max-width: 288px;
    padding: 0 16px;
  }
  .photo-grid__gallery {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
  }
}
